<ion-view>
    <!--        <ion-nav-back-button class="white button-clear " style="margin-top: 6px; color: #ffffff;">
                    <i class="ion-android-arrow-back white"></i>
                </ion-nav-back-button>-->
    <ion-nav-buttons side="left">
        <button style="padding-top:5px;color: #ffffff;" class="button button-icon button-clear ion-navicon " menu-toggle="left">
        </button>
        <label class="crthead defaultText" >
            <span side="left" class="bigLabel" ng-hide="mode.searchbx">
                <span ng-show="navTitle" class="titlSpan" style="font-size: 18px; width:100%">Tasks</span>
                <span ng-hide="navTitle" class="titlSpan" style="font-size: 18px; width:100%">ToDo</span>
            </span>
            <span side="left" class="bigLabel" ng-show="mode.searchbx" style="font-size: 18px; " >
                <input type="text" class="srchtxt"  placeholder="Search" ng-model="mo.searchs" id="search" style="color: whitesmoke; font-size: 18px;">
            </span>
        </label>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button style="padding-top:5px; margin-right: 7px; color: #ffffff;" class="button button-icon button-clear ion-android-search" ng-hide="mode.searchbx" on-tap="searchToDo()">

        </button>
        <button style="padding-top:5px; margin-right: 7px; color: #ffffff; font-size: 5px;" class="button button-icon button-clear ion-android-close" ng-show="mode.searchbx" on-tap="offsearch()">

        </button>
        <button style="padding-top:5px; color: #ffffff;" class="button button-icon button-clear ion-android-delete"  on-tap="deleteRecord();">

        </button>
    </ion-nav-buttons>

    <!--header bar of add to do-->
    <ion-content class="has-my-bar">

        <ion-list>
            <ion-refresher pulling-text="pull to refresh" on-refresh="refreshMe()">
            </ion-refresher>  
            <!--            <ion-item class="item-divider default" style="" ng-show="todayTask.length">
                            <label class="left capital lineheight">Today</label>
                        </ion-item>-->
            <ion-item ng-repeat="todoItem in todayTask = (todoList|today | filter:{done:false} |filter:mo.searchs)  track by $index" 
                      class="defaultText default "
                      ng-show="isTodayVisible">
                <div class="todo2day">
                    <ion-checkbox id="chkbx" class="todayCheck left taskheight" style="border: none;" 
                                  ng-checked="todoItem.done" ng-model="todoItem.done" ng-change="completedRecord(todoItem, $index); store(todoItem, $index);">
                    </ion-checkbox>               
                    <div class="taskToday" on-tap="editing(todoItem.title,todoItem.time, todoItem.alarmTime);">{{todoItem.title|titlecase}}</div> 
                    <div class="beLabel" ng-hide="todoItem.parseStatus"><i ng-hide="avlTime" class="clkIcon icon {{todoItem.icon}}" style="margin-right: 2px; font-size: 20px;"></i><span class="beLabelSpn">{{todoItem.time|date:'dd- MMM- yyyy'}} {{ todoItem.alarmTime|date:'h:mma '}}</span></div>
                </div>
            </ion-item>

        </ion-list>
        <ion-list >
            <ion-item ng-hide="emptyshow" class="cntnttsk" >
                <div class="empty" >
                    <div class='nothing'>There's nothing here! </div>
                    <div ng-click="createTodo()" class='empty_div'>
                        <button class="empty_btn button ion-plus " > 
                        </button>

                    </div>
                    <div class="now">Add a new task now!</div>
                </div>
            </ion-item>
        </ion-list>

        <ion-list>
            <ion-item class="item-divider default" style="border: 1px solid lightgrey; margin-top: -4px;" ng-show="isCompletedVisible">
                <label class="capital lineheight" style="text-align: center;">Completed</label>
                <!--                <button class="button-clear ion-chevron-down" on-tap="showCompleted()"
                                        style="display:inline-block; float: right;">
                
                                </button>-->

            </ion-item>
            <ion-item ng-repeat="todoItem in completedTask = (todoList| filter:{done:true } | filter:{deleteStatus:false }| filter:mo.searchs) track by $index" 
                      class="defaultText default"
                      ng-show="isCompletedVisible">
                <div class="todo2day" >
                    <ion-checkbox class="todayCheck setIcn left taskheight" style="border: none;" 
                                  ng-checked="todoItem.done" ng-model="todoItem.done" ng-change="completedRecord(todoItem, $index); store(todoItem, $index);">
                        <i class="checkIcn icon ion-android-checkbox-outline"></i>
                    </ion-checkbox>
                    <!--<i class="todayCheck icon ion-android-checkbox-outline" style="color: rgb(173, 168, 168); font-size: 25px;" on-tap="todoItem.done" ng-change="completedRecord(todoItem, $index);"></i>-->
                    <div class="taskToday1 {{todoItem.completed}}">{{todoItem.title|titlecase}}</div> 
                    <button class="btn_cls" on-tap="deleteOneRecord(todoItem.position); isCompletedVisible=false;">
                        <i class="icon ion-android-cancel" style="color:#B8B5B5; font-size: 19px;"></i>
                    </button>
                    <!--<div class="beLabel" ng-hide="todoItem.parseStatus"><i class="clkIcon icon ion-ios-alarm-outline" style="margin-right: 2px; font-size: 20px;"></i><span class="beLabelSpn">{{todoItem.time|date:'dd- MMM- yyyy'}}, {{ todoItem.alarmTime|date:'h:mma '}}</span></div>-->
                </div>

            </ion-item>

        </ion-list>

    </ion-content>
    <!--footer bar of add to do-->
    <ion-footer-bar align-title="left" class="bar-clear">
        <h1 class="title">Title</h1>
        <div class="buttons" ng-click="createTodo()">
            <button class="create-btn button addcolor ion-plus-round " style="font-size:20px ; "> 
            </button>
        </div>
    </ion-footer-bar>
    <!--</ion-view>-->
</ion-view>
