<ion-view view-title="" cache-view="false" >

    <!--header bar of add to do-->

    <!--<ion-nav-bar class="bgcolor mybar no-border">-->
<!--        <ion-nav-back-button class="white button-clear " style="margin-top: 6px; color: #ffffff;">
                <i class="ion-android-arrow-back white"></i>
            </ion-nav-back-button>-->

    <ion-nav-buttons side="left">

        <label class="crthead defaultText">
            <span side="left" class="bigLabel">
                <span style="font-size: 18px; width:100%">Edit Task</span>

            </span>
        </label>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button style="padding-top:2px; padding-right: 15px; color: #ffffff;" class="button button-icon button-clear ion-android-done" on-tap="editRecordd();">

        </button>
    </ion-nav-buttons>

    <!--</ion-nav-bar>-->    

    <ion-content class="has-my-bar" >
        <ion-list class="crtList">

            <ion-item class="items bgcolor">

                <label class="txtbx item-input item-floating-label" >
                    <span class="input-label" style="color: #AACFEC; margin-bottom: 15px;" >Task Name</span>

                    <textarea placeholder="Task Name" id="txtbxx" ng-model="mytask.title" ng-keydown="goedt($event)" cols="10" rows="2" style="height: {{high}}"  ></textarea>
                <div class="lineDiv"></div>
                </label>

            </ion-item>


            <ion-item class="cntnttsk">
                <div class="myDiv no-border">
                    <label >
                        <button class="button button-icon " 
                                style="color:#ccc;" on-tap="showReminder=true;" ng-hide="showReminder">
                            <i class="icon placeholder-icon ion-android-notifications" style="color:#888a89;"></i> <span class="remind">Remind me</span>
                        </button>
                    </label>
                    <nav ng-show="showReminder" class="" close-submenu>
                        <button class="button button-icon icon-left placeholder-icon btnbell" 
                                style="color:#888a89;position: absolute;padding-right:  20px;">
                            <i class="ion-android-notifications" style="font-size: 32px;"></i>
                        </button>
                        <ul style="margin-left: 40px;" on-tap="blank();">
                            <li class="current-menu-item"><a id="dateBtn" class="mydatetime">{{mydate.title}}</a>
                                <div class="liLine"></div>
                                <ul ng-show="reminderTime.isDateDisplaying" class="datedrop" style="">
                                    <li><a on-tap="showDate(myDates[0].title,$event)">{{myDates[0].title}}</a></li>
                                    <li><a on-tap="showDate(myDates[1].title,$event)">{{myDates[1].title}}</a></li>
                                    <li class="grey"><a on-tap="showDate(myDates[2].title, $event)" >{{myDates[2].title}}</a></li>
                                </ul>
                                <!--<ul><li><input type="text" ng-model="model.date" disabled=""></li></ul>-->
                            </li>
                            <li class="current-menu-item"><a id="timeBtn" class="mydatetime">{{mytime.title}}</a>
                                <div class="liLine"></div>
                                <ul ng-show="reminderTime.isTimeDisplaying" style="">
                                    <li class="pad-bot7"><a on-tap="showTime($event,myTimes[0].title)"><span class="time">{{myTimes[0].title}}</span><span class="tiny grey">{{myTimes[0].dtime}}</span></a></li>
                                    <li class="pad-bot7"><a on-tap="showTime($event,myTimes[1].title)"><span class="time">{{myTimes[1].title}}</span><span class="tiny">{{myTimes[1].dtime}}</span></a></li>
                                    <li class="pad-bot7"><a on-tap="showTime($event,myTimes[2].title)"><span class="time">{{myTimes[2].title}}</span><span class="tiny">{{myTimes[2].dtime}}</span></a></li>
                                    <li class="pad-bot7"><a on-tap="showTime($event,myTimes[3].title)"><span class="time">{{myTimes[3].title}}</span><span class="tiny">{{myTimes[3].dtime}}</span></a></li>
                                    <li class="grey pad-bot7"><a on-tap="showTime($event,myTimes[4].title)"><span class="time">{{myTimes[4].title}}</span></a></li>
                                </ul>
                                <!--<ul><li><input type="text" ng-model="model.time" disabled=""></li></ul>-->
                            </li>
                        </ul>
                        <button class="button button-clear " 
                                style="color:#ccc; padding-left:0px;padding-right:0px;position:absolute;right:-5px;margin-top: 7px;" on-tap="noReminder()">
                            <i class="ion-android-cancel" style="color:#B8B5B5; font-size: 25px;"></i>
                        </button>
                    </nav>
                </div>
            </ion-item>

        </ion-list>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-clear" ng-show="ifLoogedIn">
        <h1 class="title">Title</h1>
        <div class="buttons" ng-click="editRecordd();">
            <button class="create-btn button addcolor ion-android-create " style="font-size:30px ; "> 

            </button>
            <!--<img src="images/facebookIcon.png" alt=""/>-->
        </div>
    </ion-footer-bar>
</ion-view>
