<ion-side-menus enable-menu-with-back-views="false" cache-view="false">

    <ion-side-menu-content>
        <ion-nav-bar class="bgcolor mybar">
            <!--<ion-nav-bar class="bgcolor mybar">-->
            <ion-nav-back-button class="white button-clear " style="margin-top: 6px;">
                <i class="ion-android-arrow-back white"></i>
            </ion-nav-back-button>
            <!--</ion-nav-bar>-->
            <ion-nav-buttons side="left">
                <button style="padding-top:5px;color: #ffffff;" class="button button-icon button-clear ion-navicon " menu-toggle="left">
                </button>
                <!--            <label class="defaultText pad-top14">
                                <span side="left" class="bigLabel">
                                    <span style="font-size: 14px;">ToDo</span>
                                    <span class="" style="color:#FFFFFF; font-size: 12px; width: 100%">
                                        {{loggedUser}}
                                    </span>
                                </span>
                            </label>-->
            </ion-nav-buttons>
            <ion-nav-buttons side="secondary">
            </ion-nav-buttons>

        </ion-nav-bar>

        <ion-nav-view name="menuContent">

        </ion-nav-view>
    </ion-side-menu-content>


    <ion-side-menu  side="left" expose-aside-when="large" class="">
        <ion-content class="">
            <ion-list ng-hide="profileList">
                <ion-item class="logout" menu-close nav-clear item-divider >
                    <div class="userMain"> 
                        <img class="userIcon1" ng-src="{{userprofile}}">
                        <div class="userdiv">
                            <div><span class="menuTxtt">{{loggedUser}}</span></div>
                            <div><span class="menuTxttt">{{emailid}}</span></div>
                        </div>
                    </div>



                </ion-item>
            </ion-list>

            <ion-list class="">
                <!--<button  class="button button-clear menucntnt cntnttsk menuBtn"ng-disabled="abc">-->
                <ion-item nav-clear menu-close href="#/app/add_todo" class="menucntnt cntnttsk" >

                    <div class="menuOpt" >
                        <i class="menuIcon icon ion-android-clipboard "></i> 
                        <span class="menuTxt">Tasks</span>
                    </div>

                </ion-item>
                <!--</button>-->


                <ion-item nav-clear menu-close href="" class="menucntnt" ng-show="ifLoogedIn" on-tap="logout(); aaa=true">
                    <!--<i class="icon ion-social-buffer col-offset-20"></i> Upcoming days-->
                    <div class="menuOpt" >
                        <i class="menuIcon icon ion-log-out  " ></i>
                        <span class="menuTxt">Logout</span> 

                    </div>
                </ion-item>
                <ion-item nav-clear menu-close href="" class="menucntnt"  ng-hide="ifLoogedIn" on-tap="login()">

                    <div class="menuOpt">
                        <i class=" menuIcon icon ion-log-in " ></i>
                        <span class="menuTxt">Login</span> 

                    </div>
                </ion-item>

            </ion-list>

            <ion-list class="cmptlist" disabled>
                <!--<button  class="button button-clear menucntnt cntnttsk menuBtn1"ng-disabled="abc">-->
                <ion-item  nav-clear menu-close  href="#/app/completed" class="menucntnt1" >
                    <div class="menuOpt" >
                        <i class="menuIcon icon ion-android-checkbox-outline  " ></i> 
                        <span class="menuTxt">Completed</span>
                    </div>
                </ion-item>
                <!--</button>-->
                <!--<button  class="button button-clear menucntnt cntnttsk menuBtn1"ng-disabled="abc">-->
                <ion-item  nav-clear menu-close href class="menucntnt cntnttsk"  on-tap="deleteRecord();">
                    <div class="menuOpt">
                        <i class="menuIcon icon ion-android-delete " ></i> 
                        <span class="menuTxt">Trash</span>
                    </div>
                </ion-item>
                <!--</button>-->

            </ion-list>

        </ion-content>
    </ion-side-menu>
</ion-side-menus>
