<ion-nav-bar class="bar-calm mybar">

</ion-nav-bar>
<ion-view>  
    <ion-content class="has-my-bar">
        <ion-list>
            <ion-item class="no-border default">
                <div style="width: 100%">
                    <span class="beCenter" style="width: 70px; text-align: center;">
                        <i class="ion-alert-circled assertive" style="font-size: 70px;"></i>
                    </span>
                </div>

            </ion-item>
            <ion-item class="no-border default">
                <div style="width: 100%">
                    <span class="beCenter" style="width: 300px; text-align: center;">
                        <label class="assertive beCenter">
                            There might be some problem with your<br/>
                            Internet connection.
                        </label>
                        <label class="assertive beCenter">
                            Please check and <br/>relaunch the application ! 
                        </label>
                    </span>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>